<div id="main_welcome">
<h2>Welcome to Mathy!</h2>

<p>Mathy is a collaborative project which is meant to act as an online resource
  and textbook-substitute for any math topic. Are you taking a course
  in Calculus or Number Theory, but don't want to pay absurd prices? Can't seem
  to understand any of the cryptic mathematical jargon in your own textbook or
  on other sites devoted to math? Then Mathy is for you. Choose a subject now
  to begin learning!</p>
<%= link_to('Browse All Subjects', subjects_path)%>
</div>
