<h2>Edit Subject</h2>

<p><%= render 'form' %></p>

<div class="bottom_menu_options">
  <%= link_to('Back to All Subjects', subjects_path) %> |
  <%= link_to('Delete Subject', subject_path(@subject), method: :delete) %>
</div>
