<h2><%= @subject.name %></h2>

<p><%= link_to "Begin Reading About #{@subject.name}", subject_articles_path(@subject)%></p>

<div class="bottom_menu_options">
  <%= link_to('Back to All Subjects', subjects_path) %> |
  <% if current_user %>
    <%= link_to('Edit Subject', edit_subject_path(@subject)) %>
  <% else %>
    <% render 'layouts/register_question' %>
  <% end %>
</div>
