// Place all the styles related to the subjects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul {
  list-style-type: none;
}
ul li {
  margin: 5px 0px;
}
#no_articles_msg {
  margin-left: 20px;
}
.subject_articles a {
  text-decoration: none;
  color: #2F4F4F;
  font-weight: bold;
  line-height: 150%;
}
.subject_articles a:hover {
  text-decoration: none;
  color: #3BB878;
  font-weight: bold;
  transition: 0.2s;
}
.subject_list a {
  text-decoration: none;
  color: #2F4F4F;
  line-height: 150%;
}

.subject_list a:hover {
  text-decoration: none;
  color: #3BB878;
  margin-left: 8px;
  transition: 0.2s;
}

#article_position {
  margin-left: 40px;
}
#article_title {
  margin-left: 40px;
}
select {
  width: 150px;
  margin-left: 20px;
}
