#main_welcome {
  width: 800px;
  float: left;
}
p{
  text-indent: 20px;
  font-size: 15px;
}



a {
  text-decoration: none;
  color: #2F4F4F;
}

a:hover{
  text-decoration: none;
  color: #FF8C00;
  transition: 0.2s;
}
// div #right_menu {
//   margin: 30px;
//   width: 200px;
//   height: 500px;
//   float:right;
//   border-left: 1px solid #2F4F4F;
//   padding-left: 20px;
// }
// #right_menu div {
//   margin: 20px 0px;
// }
